<div class="mt-2 mt-lg-4 container-fluid header-container p-0">
    <div class="container-xl header-search p-0">
        <div class="row h-100 px-xl-0 px-4 w-100 mx-0">
            <a class="toggle-nav col-1 col-sm-1 text-black pt-1 px-0">
                <fa-icon class="fa-2x" [icon]="faBarsStaggered"></fa-icon>
            </a>
            <a class="col-6 col-sm-4 col-lg-2 h-100 offset-md-3 offset-lg-0 ps-2 p-sm-0" href="home">
                <img src="../../assets/images/final-logo.jpg" class="logo mt-2 d-block mx-md-auto mx-lg-1">
            </a>
            <div class="inputMainSearch col-4 col-xl-6 h-100 offset-1 position-relative ">
                <input class="w-100 h-75 mt-2  p-3 border-0 txtSearch" placeholder="Search by name ..."
                    [formControl]="txtSearch">
                <button class="btn btn-info btnSearch" (click)="captureSearch($event)">
                    <mat-icon class="mt-1">search</mat-icon>
                </button>
            </div>
            <div
                class="btnMiniSearch col-1 col-sm-1 offset-2 offset-sm-4 offset-md-1 offset-xl-1 h-100 pt-3 pe-0 text-end">
                <fa-icon class="icon fa-2x" [icon]="faMagnifyingGlass"></fa-icon>
            </div>
            <div class="btnCart col-1 col-sm-1 offset-lg-2 offset-xl-1 h-100 pt-3 pe-0 text-end" routerLink="/cart">
                <fa-icon class="icon fa-2x" [icon]="faCartShopping"></fa-icon>
            </div>
            <div class="btnAcc col-1 col-sm-1 h-100 pt-3 pe-0 text-end" routerLink="/account">
                <fa-icon class="icon fa-2x" [icon]="faUser"></fa-icon>
            </div>
        </div>
    </div>
    <hr>
    <div class="container header-nav mt-4 p-0">
        <div class="row h-100 mx-0">
            <div class="dropdown col-2 h-100 d-block p-0">
                <button
                    class="main-dropdown-toggle btn w-100 btn-info fw-bold h-100 d-flex justify-content-center border-0 dropdown-toggle rounded-5"
                    type="button" id="dropdownToggle" data-mdb-toggle="dropdown" aria-expanded="false">
                    <mat-icon>list</mat-icon>
                    <p class="ms-3">Categories</p>
                </button>
                <ul class="main-dropdown-menu dropdown-menu mt-0 p-0" aria-labelledby="dropdownMenuButton">
                    <li class="dropend">
                        <a class="sub-dropdown-toggle dropdown-item fw-normal d-flex mt-2 dropdown-toggle ps-2" href="#"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <mat-icon class="ms-3 p-0"> import_contacts </mat-icon>
                            <p class="m-0 ms-3">Literature</p>
                        </a>
                        <div class="sub-dropdown-menu dropdown-menu">
                            <div>
                                <div class="sub-title d-flex">
                                    <mat-icon> flag </mat-icon>
                                    <p class="m-0 ms-3 fw-bold">Storyline</p>
                                </div>
                                <div>
                                    <div>
                                        <a class="dropdown-item fw-normal mt-1" href="#">Detective</a>
                                    </div>
                                    <div>
                                        <a class="dropdown-item fw-normal mt-1" href="#">Gothic</a>
                                    </div>
                                    <div>
                                        <a class="dropdown-item fw-normal mt-1" href="#">Historical</a>
                                    </div>
                                    <div>
                                        <a class="dropdown-item fw-normal mt-1" href="#">Fiction</a>
                                    </div>
                                    <div>
                                        <a class="dropdown-item fw-normal mt-1" href="#">Romance</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li><a class="dropdown-item fw-normal d-flex mt-2 ps-2" href="#">
                            <mat-icon class="ms-3 p-0"> face </mat-icon>
                            <p class="m-0 ms-3">Children</p>
                        </a></li>
                    <li><a class="dropdown-item fw-normal d-flex mt-2 ps-2" href="#">
                            <mat-icon class="ms-3 p-0"> attach_money </mat-icon>
                            <p class="m-0 ms-3">Economy</p>
                        </a></li>
                    <li><a class="dropdown-item fw-normal d-flex mt-2 ps-2" href="#">
                            <mat-icon class="ms-3 p-0"> map </mat-icon>
                            <p class="m-0 ms-3">History</p>
                        </a></li>
                    <li><a class="dropdown-item fw-normal d-flex mt-2 ps-2" href="#">
                            <mat-icon class="ms-3 p-0"> gavel </mat-icon>
                            <p class="m-0 ms-3">Law</p>
                        </a></li>
                    <li><a class="dropdown-item fw-normal d-flex mt-2 ps-2" href="#">
                            <mat-icon class="ms-3 p-0"> brightness_low </mat-icon>
                            <p class="m-0 ms-3">Philosophy</p>
                        </a></li>
                    <li><a class="dropdown-item fw-normal d-flex mt-2 ps-2" href="#">
                            <mat-icon class="ms-3 p-0"> mood </mat-icon>
                            <p class="m-0 ms-3">Psychology</p>
                        </a></li>
                    <li><a class="dropdown-item fw-normal d-flex mt-2 ps-2" href="#">
                            <mat-icon class="ms-3 p-0"> account_balance </mat-icon>
                            <p class="m-0 ms-3">Political</p>
                        </a></li>
                    <li><a class="dropdown-item fw-normal d-flex my-2 ps-2" href="#">
                            <mat-icon class="ms-3 p-0"> school </mat-icon>
                            <p class="m-0 ms-3">Science</p>
                        </a></li>
                </ul>
            </div>
            <nav class="col-6 offset-1 container-fluid h-100 p-0 navbar">
                <div class="row h-100 w-100 navbar-nav m-0">
                    <li class="col-2 fw-bold text-center h-100 p-0 nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/home" (click)="changeActive($event)"
                            ariaCurrentWhenActive="page">Home</a>
                    </li>
                    <li class="col-2 fw-bold text-center h-100 p-0 nav-item">
                        <a class="nav-link" routerLink="/collection" (click)="changeActive($event)"
                            ariaCurrentWhenActive="page">Collection</a>
                    </li>
                    <li class="col-2 fw-bold text-center h-100 p-0 nav-item">
                        <a class="nav-link" routerLink="/shop" (click)="changeActive($event)"
                            ariaCurrentWhenActive="page">Shop</a>
                    </li>
                    <li class="col-2 fw-bold text-center h-100 p-0 nav-item">
                        <a class="nav-link" routerLink="/authors" (click)="changeActive($event)"
                            ariaCurrentWhenActive="page">Authors</a>
                    </li>
                    <li class="col-2 fw-bold text-center h-100 p-0 nav-item">
                        <a class="nav-link" routerLink="/faq" (click)="changeActive($event)"
                            ariaCurrentWhenActive="page">F&Q</a>
                    </li>
                    <li class="col-2 fw-bold text-center h-100 p-0 nav-item">
                        <a class="nav-link" routerLink="/about" (click)="changeActive($event)"
                            ariaCurrentWhenActive="page">About us</a>
                    </li>
                </div>
            </nav>
            <button class="btn col-2 offset-1 btn-info d-flex justify-content-center h-100 fw-bold border-0 rounded-5">
                <mat-icon>call</mat-icon>
                <p class="ms-3">1800 - 1234</p>
            </button>
        </div>
    </div>
</div>