.header-container{
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
    .header-search{
        height: 60px;
        box-sizing: border-box;
        .logo{
            color: red;
            font-weight: bold;
            margin: 0;
            height: 40px;
        }
        .btnSearch{
            position: absolute;
            top: 8px;
            right: 11px;
            height: 45px;
            width: 90px;
            border-radius: 30px;
        }
        .txtSearch{
            background-color: #f6f6f6;
            border-radius: 30px;
        }
        .btnCart:hover, .btnAcc:hover, .btnMiniSearch:hover{
            color: #0dcaf0;
        }
        .icon{
            font-size: 1.5em;
        }
    }
    .header-nav{
        height: 40px;

        // Dropdown 
        #dropdownToggle::after{
            margin-top: 12px;
            margin-left: 20px;
        }
        .main-dropdown-menu{
            width: 196px;
        }
        .dropdown:hover>.main-dropdown-menu {
            display: block;
        }
        .dropdown>.main-dropdown-toggle:active {
            /*Without this, clicking will make it sticky*/
            pointer-events: none;
        }
        .dropdown a:hover{
            background-color: #0dcaf0;
        }

        // Sub-Dropend
        .sub-dropdown-toggle:after{
            margin-top: 9px;
            margin-bottom: auto;
            margin-left: 32px;
        }
        .dropend{
            position: relative;
        }
        .dropend > .sub-dropdown-menu{
            left: 100%;
            top: -8px;
        }
        .dropend:hover > .sub-dropdown-menu, .dropend > a:focus + .dropend {
            display: block;
        }
        .sub-dropdown-menu .sub-title{
            margin-left: 13px;
        }

        // NavBar
        nav a{
            color: black;
            font-weight: bold;
        }
        nav a:hover, nav .active{
            color: #0dcaf0;
            border-bottom: 2px solid #0dcaf0;       
        }
    }  
}


//Responsive
.header-nav, hr, .inputMainSearch{
    display: none;
}
.toggle-nav, .btnMiniSearch{
    display: block;
}

@media (min-width: 992px){
    .btnMiniSearch{
        display: none;
    }
    .inputMainSearch{
        display: block;
    }
}
@media (min-width: 1200px){
    .header-nav, hr{
        display: block;
    }
    .toggle-nav{
        display: none;
    }
}
 
 