.footer-container{
    background-color: #282828;
    .download{
        max-width: 140px;
    }
    .list-link{
        li{
            list-style-type: none;
            a{
                text-decoration: none;
            }
            a:hover{
                opacity: 100 !important;
                font-weight: bold;
            }
        }
    }
    #linked{
        .linked-item{
            width: 80px;
            height: 40px;
        }
    }
}

//Responsive
@media (min-width: 1200px){
    .footer-container{
        .even-col{
            padding-left: 60px;
        }
    }
}
@media (min-width: 992px){
    #copyright{
        margin-left: 4.3%;
    }
    #linked{
        margin-right: 4.3%;
        margin-left: auto;
    }
}