<div class="container-fluid my-4 bg-info">
    <div class="container py-5">
        <span class="fs-1 fw-medium">Cart</span>
    </div>
</div>

<div class="cart-product container mb-4 p-0">
    <div class="cart-item row">
        <ng-container *ngIf="cartProduct.length > 0; else noProduct">
            <div class="col-12 col-xl-9">
                <table class="w-100 text-center border border-black">
                    <tr class="border-bottom border-black bg-info">
                        <th>No.</th>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                    <tr class="border-bottom border-black" *ngFor="let book of this.cartProduct; let i = index">
                        <td>{{i+1}}</td>
                        <td class="d-flex px-0 px-sm-2 px-md-5">
                            <img src={{book.image}} style="width: 40%;" class="h-auto my-auto">
                            <div class="ms-1 ms-sm-4 d-flex flex-column justify-content-center">
                                <p class="text-start fw-bold mb-0 my-2 cart-name">{{book.name}}</p>
                                <p class="text-start mb-0 py-2 fw-bold text-danger">$ {{book.price}}</p>
                                <p class="text-start mb-0 py-2">Paperback</p>
                            </div>
                        </td>
                        <td>
                            <div class="quantity d-flex mt-2 justify-content-center mx-auto">
                                <button class="quantity-minus btn btn-info border border-end-0 h-100" type="button"
                                    (click)="minusQtt(i)"><fa-icon [icon]="faMinus"></fa-icon></button>
                                <input class="h-100 text-center fw-bold form-control rounded-0" type="text"
                                    [value]="cartQtt[i]" id="inputQuantity" readonly>
                                <button class="quantity-plus btn btn-info border border-start-0 h-100" type="button"
                                    (click)="plusQtt(i)"><fa-icon [icon]="faPlus"></fa-icon></button>
                            </div>
                        </td>
                        <td class="fw-bold text-danger fs-5">$ {{cartPrice[i]}}</td>
                        <td (click)="deleteProductFromCart(i)"><fa-icon [icon]="faTrash"></fa-icon></td>
                    </tr>
                </table>
            </div>
            <div style="height: fit-content;" class="col-8 offset-4
                col-sm-6 offset-sm-6 mt-4
                col-md-4 offset-md-8
                col-lg-3 offset-lg-9 
                col-xl-3 offset-xl-0 mt-xl-0">
                <div class="border rounded-3 p-2 p-sm-4">
                    <div class="d-flex justify-content-between w-100">
                        <h5>Total Amount:</h5>
                        <h5 class="text-danger fw-bold">$ {{this.totalPrice}}</h5>
                    </div>
                    <button class="btn btn-info w-100 mt-2 mt-sm-3 fw-bold" type="button"
                        (click)="navToPayment()">Payment</button>
                </div>
            </div>
        </ng-container>
        <ng-template #noProduct>
            <div class="text-center">
                <!-- <fa-icon class="fa-5x fa-regular" [icon]="faFaceFrown"></fa-icon> -->
                <img src="https://salt.tikicdn.com/desktop/img/mascot@2x.png" alt="no product" class="rounded-5 py-3"
                    style="width: 200px;">
                <p>Your cart is currently empty.</p>
                <button class="btn btn-info px-5 fw-bold" type="button" (click)="returnHome()">Return to shop</button>
            </div>
        </ng-template>
    </div>
</div>