.card-container{
    position: relative;
    overflow: hidden;
    .card-name{
        // height: 10%;
        height: fit-content;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .card-rated{
        height: 24px;
    }
    .btn{
        height: 40px;
        padding: 8px;
    }
    .btnFvr{
        position: absolute;
        left: 120%;
        top: 57%;
        transition: left .2s;
    }
    .btnAdd{
        position: absolute;
        left: 120%;
        top: 67%;
        transition: left .2s;
    }
}
.card-container:hover{
    .btnFvr, .btnAdd{
        left: 80%;
    }
    .card-name{
        color: #0dcaf0;
    }
}

//Custom card for deal section (homepage)
:host-context(.deal-card){
    .card-name{
        font-size: 1rem;
    }
    .card-rated{
        .mat-icon{
            transform: scale(0.8);
        }
    }
    .card-author{
        font-size: 0.8rem;
        margin-top: 0 !important;
    }
    .card-price{
        font-size: 1rem;
        margin-top: 4px !important;
    }
    .btnFvr{
        top: 51%;
        left: 100%;
        transform: scale(0.8);
    }
    .btnAdd{
        top: 61%;
        left: 100%;
        transform: scale(0.8);
    }
}
:host-context(.deal-card):hover{
    .btnFvr{
        top: 51%;
        left: 77%;
        transform: scale(0.8);
    }
    .btnAdd{
        top: 61%;
        left: 77%;
        transform: scale(0.8);
    }
}

//Custom card for collection-page
:host-context(.collection-item){
    .card-name{
        font-size: 1rem;
    }
    .card-rated{
        .mat-icon{
            transform: scale(0.8);
        }
    }
    .card-author{
        font-size: 0.8rem;
        margin-top: 0 !important;
    }
    .card-price{
        font-size: 1rem;
        margin-top: 4px !important;
    }
    .btnFvr{
        top: 190px;
        left: 100%;
        transform: scale(0.8);
    }
    .btnAdd{
        top: 228px;
        left: 100%;
        transform: scale(0.8);
    }
}
:host-context(.collection-item):hover{
    .btnFvr{
        top: 190px;
        left: 77%;
        transform: scale(0.8);
    }
    .btnAdd{
        top: 228px;
        left: 77%;
        transform: scale(0.8);
    }
}

//Custom card for product-page
:host-context(.product-card){
    .card-name{
        font-size: 1.2rem;
    }
    .card-rated{
        .mat-icon{
            transform: scale(0.9);
        }
    }
    .card-author{
        font-size: 1rem;
        margin-top: 0 !important;
    }
    .card-price{
        font-size: 1.2rem;
        margin-top: 4px !important;
    }
    .btnFvr{
        top: 233px;
        left: 100%;
        transform: scale(0.8);
    }
    .btnAdd{
        top: 273px;
        left: 100%;
        transform: scale(0.8);
    }
}
:host-context(.product-card):hover{
    .btnFvr{
        top: 233px;
        left: 80%;
        transform: scale(0.8);
    }
    .btnAdd{
        top: 273px;
        left: 80%;
        transform: scale(0.8);
    }
}