.card-container{
    position: relative;
    overflow: hidden;
    .card-name{
        // height: 10%;
        height: fit-content;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .card-rated{
        height: 24px;
    }
    .btn{
        height: 40px;
        padding: 8px;
    }
    .btnFvr{
        position: absolute;
        left: 120%;
        top: 54%;
        transition: left .2s;
    }
    .btnAdd{
        position: absolute;
        left: 120%;
        top: 63.5%;
        transition: left .2s;
    }
}
.card-container:hover{
    .btnFvr, .btnAdd{
        left: 80%;
    }
    .card-name{
        color: #0dcaf0;
    }
}