<div class="container-fluid my-4 bg-info">
    <div class="container py-5">
        <p class="fs-1 fw-medium text-center mb-0">Order Success</p>
    </div>
</div>
<div class="cart-product container mb-4 p-0">
    <div class="row">
        <div class="col-3 mx-auto">
            <img src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/checkout/tiki-mascot-congrat.svg"
                alt="no product" class="rounded-5 py-3 d-block mx-auto" style="width: 200px;">
            <button class="btn btn-info px-5 fw-bold d-block mx-auto" type="button" (click)="returnHome()">Return to
                shop</button>

        </div>
    </div>
</div>