:host{
    .filter{
        .box-cate{
            .form-check-label:hover{
                color: blue;
            }
        }
        .box-author{
            .form-check-label:hover{
                color: blue;
            }
        }
        .box-price{
            .mat-mdc-slider{
                width: 94%;
                color: blue;
            }
        }
        .box-evaluate{
            .mat-mdc-slider{
                width: 94%;
                color: blue;
            }
        }
    }
    .product{
        .sortProduct{
            width: 75%;
            #slShow{
                width: 25%;
            }
            #slSort{
                width: 60%;
            }
        }
        .filterProduct{
            width: 25%;
        }
        .collection-items{
            .collection-item{
                width: 60%; //1 products
            }
        }
    }
    #goToTop-collection{
        position: fixed; 
        bottom: 30px;
        right: 20px;
        z-index: 2;
        .ng-fa-icon{
            padding: 0 2.2px;
        }
        transform: scale(0.5);
    }
}

//Responsive
:host{
    .filter{
        display: none;
    }
    .product{
        .toggleFilter{
            display: block;
        }
    }
}
@media (min-width: 350px){
    :host{
        .product{
            .collection-items{
                .collection-item{
                    width: 40%; //2 products
                }
            }
        }
    }
}
@media (min-width: 576px){
    :host{
        .product{
            .collection-items{
                .collection-item{
                    width: 30%; //3 products
                }
            }
        }
    }
}
@media (min-width: 768px){
    :host{
        .product{
            .sortProduct{
                #slShow{
                    width: 25%;
                }
                #slSort{
                    width: 50%;
                }
            }
        }
        #goToTop-collection{
            transform: scale(0.6);
        }
    }
}
@media (min-width: 992px){
    :host{
        .product{
            .sortProduct{
                width: 50%;
            }
            .filterProduct{
                width: 50%;
            }
            .collection-items{
                .collection-item{
                    width: 20.01%; //4 products
                }
            }
        }
        #goToTop-collection{
            transform: scale(0.8);
        }
    }
}
@media (min-width: 1200px){
    :host{
        .filter{
            display: block;
        }
        .product{
            .toggleFilter{
                display: none;
            }
        }
        #goToTop-collection{
            transform: scale(1);
        }
    }
}