:host{
    .filter{
        .box-cate{
            .form-check-label:hover{
                color: blue;
            }
        }
        .box-author{
            .form-check-label:hover{
                color: blue;
            }
        }
        .box-price{
            .mat-mdc-slider{
                width: 94%;
                color: blue;
            }
        }
        .box-evaluate{
            .mat-mdc-slider{
                width: 94%;
                color: blue;
            }
        }
    }
    .product{
        #slShow{
            width: 11%;
        }
        .collection-items{
            .collection-item{
                width: 20.01%;
            }
        }
    }
    #goToTop-collection{
        position: fixed; 
        bottom: 30px;
        right: 20px;
        z-index: 2;
        .ng-fa-icon{
            padding: 0 2.2px;
        }
    }
}