<div class="miniCard-container h-100 w-100 d-flex">
    <div class="p-0" id="miniCard-img">
        <img src={{image}} class="card-img w-100 rounded-4">
    </div>
    <div class="p-0" id="miniCard-info">
        <p class="card-name ps-2 fw-bold m-0">{{name}}</p>
        <div class="card-rated text-warning ms-1 mt-2">
            <mat-icon class="h-100"> star </mat-icon>
            <mat-icon class="h-100"> star </mat-icon>
            <mat-icon class="h-100"> star </mat-icon>
            <mat-icon class="h-100"> star </mat-icon>
            <mat-icon class="h-100"> star </mat-icon>
        </div>
        <p class="fst-italic opacity-50 ps-2 m-0">{{author}}</p>
        <h5 class="text-danger ps-2 mb-0 mt-2">$
            <span>{{price}}</span>
        </h5>
    </div>
</div>