:host{
    .product-info{
        .product-left{
            width: 43%;
        }
        .product-right{
            width: 55%;
            height: fit-content;
            .quantity{
                height: 35px;
                .quantity-minus{
                    border-radius: 50px 0 0 50px;
                    width: 6%;
                }
                #inputQuantity{
                    width: 10%;
                }
                .quantity-plus{ 
                    border-radius: 0 50px 50px 0;
                    width: 6%;
                }
            }
            .combo-button{
                width: 30%;
            }
        }
    }
    .detail-info{
        .table-info, th, td{
            
            th, td{
                padding: 10px 30px;
                border: 1px solid black;
                border-collapse: collapse;
            }
        }
    }
    .product-related{
        position: relative;
        .product-related-title:after{
            content:"";
            display: block;
            height: 1px;
            width: 890px;
            position: absolute;
            top: 20px;
            right: 170px;
            background: black;
            opacity: 50%;
        }
        .product-related-btn{
            width: 10%;
            position: absolute;
            top: 0;
            right: 0;
        }
        .product-card{
            width: 17%;
        }
    }
    .product-author{
        position: relative;
        .product-author-title:after{
            content:"";
            display: block;
            height: 1px;
            width: 940px;
            position: absolute;
            top: 20px;
            right: 170px;
            background: black;
            opacity: 50%;
        }
        .product-author-btn{
            width: 10%;
            position: absolute;
            top: 0;
            right: 0;
        }
        .product-card{
            width: 17%;
        }
    }
}
#goToTop-home{
    position: fixed; 
    bottom: 30px;
    right: 20px;
    z-index: 2;
    .ng-fa-icon{
        padding: 0 2.2px;
    }
}