<div class="container p-0" *ngIf="targetBook">
    <div class="product-info row mt-4 ms-0 d-flex justify-content-between">
        <div class="product-left col-6 p-4 border rounded-5">
            <img src={{targetBook.image}} class="w-100 rounded-5">
        </div>
        <div class="product-right col-6 border rounded-5 p-4">
            <!-- Top -->
            <h2>{{targetBook.name}}</h2>
            <span class="opacity-75">Author: </span>
            <span class="pe-4 border-end me-4">{{targetBook.author}}</span>
            <span class="pe-4 border-end me-4">
                <span class="me-2 fw-medium">5.0</span>
                <fa-icon class="text-warning me-1" [icon]="faStar"></fa-icon>
                <fa-icon class="text-warning me-1" [icon]="faStar"></fa-icon>
                <fa-icon class="text-warning me-1" [icon]="faStar"></fa-icon>
                <fa-icon class="text-warning me-1" [icon]="faStar"></fa-icon>
                <fa-icon class="text-warning" [icon]="faStar"></fa-icon>
                <span class="ms-2">(1999 voted)</span>
            </span>
            <span class="opacity-75">SKU: </span>
            <span>{{targetBook.id}}</span>
            <h2 class="text-danger mt-2">
                <span>$</span>
                <span>{{targetBook.price}}</span>
            </h2>
            <hr>
            <!-- Format -->
            <p class="mb-0 fw-bold">Quantity</p>
            <div class="quantity d-flex mt-2">
                <button class="quantity-minus btn btn-info border border-end-0 h-100" type="button"
                    (click)="minusQtt()"><fa-icon [icon]="faMinus"></fa-icon></button>
                <input class="h-100 text-center fw-bold form-control rounded-0" type="text" [value]="quantity"
                    id="inputQuantity" (change)="changeQtt($event)">
                <button class="quantity-plus btn btn-info border border-start-0 h-100" type="button"
                    (click)="plusQtt()"><fa-icon [icon]="faPlus"></fa-icon></button>
            </div>
            <p class="mt-2 mb-1 fw-bold">Editions</p>
            <div>
                <input type="radio" class="btn-check" name="options-outlined" id="radio-ppb" autocomplete="off" checked>
                <label class="btn btn-outline-info" for="radio-ppb">Paperback</label>

                <input type="radio" class="btn-check" name="options-outlined" id="radio-hc" autocomplete="off">
                <label class="btn btn-outline-info ms-3" for="radio-hc">Hardcover</label>

                <input type="radio" class="btn-check" name="options-outlined" id="radio-hc" autocomplete="off">
                <label class="btn btn-outline-info ms-3" for="radio-hc">Ebook</label>

                <input type="radio" class="btn-check" name="options-outlined" id="radio-lmt" autocomplete="off">
                <label class="btn btn-outline-info ms-3" for="radio-lmt">Limited</label>

            </div>
            <h4 class="text-danger mt-2">
                <span class="fs-5 text-black">Total: </span>
                <span class="fs-2">$</span>
                <ng-container *ngIf="this.totalPrice > 0; else beginPrice">
                    <span class="fs-2">{{totalPrice}}</span>
                </ng-container>
                <ng-template #beginPrice>
                    <span class="fs-2">{{this.targetBook.price}}</span>
                </ng-template>
                <!-- <span class="fs-2">{{totalPrice}}</span>
                <span class="fs-2">{{this.targetBook.price}}</span> -->
            </h4>
            <hr>
            <!-- Buy -->
            <div class="d-flex justify-content-between w-100">
                <button class="combo-button btn btn-info fw-bold" type="button" disabled>Add to
                    wishlist</button>
                <button class="combo-button btn btn-info fw-bold" type="button" (click)="addToCart()">Add to
                    cart</button>
                <button class="combo-button btn btn-danger fw-bold" type="button">Buy now</button>
            </div>
            <hr>
            <!-- Bottom -->
            <span class="opacity-75">Categories: </span>
            <span>{{targetBook.category}}</span>
            <div class="">
                <fa-icon [icon]="faFacebook" class="fa-2x" style="color: blue;"></fa-icon>
                <fa-icon [icon]="faTwitter" class="ms-3 fa-2x" style="color: #1DA1F2;"></fa-icon>
                <fa-icon [icon]="faPinterest" class="ms-3 fa-2x" style="color: #c8232c;"></fa-icon>
                <fa-icon [icon]="faLinkedin" class="ms-3 fa-2x" style="color: #0072b1;"></fa-icon>
            </div>

        </div>
    </div>
    <div class="detail-info row mt-4 ms-0">
        <nav class="w-100 p-0">
            <ul class="nav nav-underline justify-content-center mx-auto" style="width: 96%;">
                <li class="nav-item">
                    <a class="sub-nav nav-link active text-black active fs-5" aria-current="page"
                        (click)="changeTemplate($event)" id="template1">Description</a>
                </li>
                <li class="nav-item">
                    <a class="sub-nav nav-link text-black fs-5" (click)="changeTemplate($event)"
                        id="template2">Additional
                        Information</a>
                </li>
                <li class="nav-item">
                    <a class="sub-nav nav-link text-black fs-5" (click)="changeTemplate($event)"
                        id="template3">Reviews</a>
                </li>
            </ul>
        </nav>
        <div [ngSwitch]="indexTemplate" class="border rounded-5">
            <ng-template [ngSwitchCase]=1>
                <div style="padding: 16px 150px;">
                    <p>Aut eligendi voluptatem adipisci unde iusto. Vitae aut voluptas velit beatae at nam
                        maiores. Sunt
                        dolorem cumque qui sit in esse quia occaecati. Eos et vero optio eaque nemo.</p>
                    <p>Qui omnis nihil accusantium dolorum molestiae. Assumenda rem et non. Aut fugiat fugiat voluptatum
                        vero vitae error. Sequi fugit vitae dolor velit. Nemo et sapiente repudiandae.</p>
                    <p>Quam dolorum accusantium odio amet. Commodi consequatur distinctio voluptas repellat doloribus
                        quia.
                        Consectetur ad similique atque voluptas ut.</p>
                    <p class="mb-0">Earum vel delectus in facilis. Voluptatum minus nobis cum temporibus perferendis est
                        ut. Sed aut
                        saepe ipsum animi asperiores. Nihil nihil repudiandae adipisci quis ea voluptatum dicta.</p>
                </div>
            </ng-template>
            <ng-template [ngSwitchCase]=2>
                <div style="padding: 16px 150px;">
                    <table class="table-info mx-auto">
                        <tr>
                            <th>Publisher</th>
                            <td>DC Comics</td>
                        </tr>
                        <tr>
                            <th>Language</th>
                            <td>English</td>
                        </tr>
                        <tr>
                            <th>Weight</th>
                            <td>4,8 kg</td>
                        </tr>
                        <tr>
                            <th>Dimensions</th>
                            <td>88 x 110 x 95 cm</td>
                        </tr>
                        <tr>
                            <th>Select Format</th>
                            <td>Limited, Ebook, Hardcover, Paperback</td>
                        </tr>
                    </table>
                </div>
            </ng-template>
            <ng-template [ngSwitchCase]=3>
                <div *ngFor="let cmt of listReview; let i = index" style="padding: 16px 150px;">
                    <app-review-card [name]="listReview[i].name" [date]="listReview[i].date"
                        [comment]="listReview[i].comment" [image]="listReview[i].image"
                        [national]="listReview[i].national"></app-review-card>
                </div>
            </ng-template>
        </div>
    </div>
    <div class="product-related row mt-4 ms-0">
        <h2 class="product-related-title p-0">Related products</h2>
        <button class="product-related-btn btn btn-info fw-bold" type="button">View all</button>
        <div class="d-flex justify-content-between w-100 p-0 mt-3">
            <div class="product-card" *ngFor="let book of relatedBooks; let i = index">
                <app-book-card [name]="relatedBooks[i].name" [author]="relatedBooks[i].author"
                    [price]="relatedBooks[i].price" [image]="relatedBooks[i].image"
                    [routerLink]="['/collection', relatedBooks[i].id]"></app-book-card>
            </div>
        </div>
    </div>
    <div class="product-author row my-4 ms-0">
        <h2 class="product-author-title p-0">Same author</h2>
        <button class="product-author-btn btn btn-info fw-bold" type="button">View all</button>
        <div class="mt-1 d-flex justify-content-between w-100 p-0 mt-3">
            <div class="product-card" *ngFor="let book of authorBooks; let i = index">
                <app-book-card [name]="authorBooks[i].name" [author]="authorBooks[i].author"
                    [price]="authorBooks[i].price" [image]="authorBooks[i].image"
                    [routerLink]="['/collection', authorBooks[i].id]"></app-book-card>
            </div>
        </div>
    </div>
</div>

<!-- Go to top -->
<button class="btn btn-info rounded-5" id="goToTop-home" type=" button" (click)="scrollToTop()">
    <fa-icon class="fa-2x" [icon]="faChevronUp"></fa-icon>
</button>

<div class="modal" tabindex="-1" id="modal-route-to-login">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Warning</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>You need to log in before using the shopping cart feature. Would you like to log in now?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="navToLogin()">Log in</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>