:host{
    .product-info{
        .product-left{
            height: fit-content;
        }
        .product-right{
            height: fit-content;
            .break{
                display: block;
            }
            .inputHardcover{
                margin-left: 0;
                margin-top: 1rem;
            }
            .inputLimited{
                margin-top: 1rem;
            }
            .buy-container{
                flex-direction: column;
                .btnWish{
                    width: 100%;
                }
                .comboBtn{
                    margin-top: 1rem;
                    width: 100%;
                    .btnAdd{
                        width: 50%;
                    }
                    .btnBuy{
                        width: 45%;
                    }
                }
            }
            .info-rated{
                border-left: none;
            }
            .info-author{
                border-right: 1px solid;
            }
            .quantity{
                height: 35px;
                width: 150px;
                .quantity-minus{
                    border-radius: 50px 0 0 50px;
                    width: 40px;
                }
                #inputQuantity{
                    width: 70px;
                }
                .quantity-plus{ 
                    border-radius: 0 50px 50px 0;
                    width: 40px;
                }
            }
        }
    }
    .detail-info{
        .table-info, th, td{   
            th, td{
                padding: 10px 30px;
                border: 1px solid black;
                border-collapse: collapse;
            }
        }
        .detail1{
            padding-top: 16px;
            padding-bottom: 16px;
            padding-left: 16px;
            padding-right: 16px;
        }
    }
    .product-related{
        position: relative;
        .product-related-title:after{
            content:"";
            display: block;
            height: 1px;
            width: 0;
            position: absolute;
            top: 20px;
            right: 160px;
            background: black;
            opacity: 50%;
        }
        .product-related-btn{
            width: 130px;
            position: absolute;
            top: 0;
            right: 0;
        }
        // .product-card{
        //     width: 17%;
        // }
    }
    .product-author{
        position: relative;
        .product-author-title:after{
            content:"";
            display: block;
            height: 1px;
            width: 0;
            position: absolute;
            top: 20px;
            right: 160px;
            background: black;
            opacity: 50%;
        }
        .product-author-btn{
            width: 130px;
            position: absolute;
            top: 0;
            right: 0;
        }
        // .product-card{
        //     width: 17%;
        // }
    }
}
#goToTop-product{
    position: fixed; 
    bottom: 10%;
    right: 1%;;
    z-index: 2;
    .ng-fa-icon{
        padding: 0 2.2px;
    }
    transform: scale(0.8);
}

//Responsive
@media (min-width: 350px){
    :host{
        .product-info{
            .product-right{
                .buy-container{
                    .btnWish{
                        width: 80%;
                    }
                    .comboBtn{
                        width: 80%;
                    }
                }
            }
        }
    }
}
@media (min-width: 450px){
    :host{
        .product-info{
            .product-right{
                .break{
                    display: none;
                }
                .inputHardcover{
                    margin-left: 1rem;
                    margin-top: 0;
                }
                .inputLimited{
                    margin-top: 0;
                }
                .buy-container{
                    flex-direction: row;
                    .btnWish{
                        width: 35%;
                    }
                    .comboBtn{
                        width: 59%;
                        margin-top: 0;
                        .btnAdd{
                            width: 50%;
                        }
                        .btnBuy{
                            width: 40%;
                        }
                    }
                }
            }
        }
        .detail-info{
            .detail1{
                padding-left: 30px;
                padding-right: 30px;
            }
        }
    }
}
@media (min-width: 576px){
    :host{
        .detail-info{
            .detail1{
                padding-left: 50px;
                padding-right: 50px;
            }
        }
        .product-related{
            .product-related-title:after{
                width: calc(50% - 130px);
            }  
        }
        .product-author{
            .product-author-title:after{
                width: calc(55% - 130px);
            }  
        }
    }
}
@media (min-width: 768px){
    :host{
        .product-info{
            .product-right{
                .info-rated{
                    border-left: 1px solid;
                }
            }
        }
        .detail-info{
            .detail1{
                padding-left: 70px;
                padding-right: 70px;
            }
        }
        .product-related{
            .product-related-title:after{
                width: calc(61% - 130px);
            }  
        }
        .product-author{
            .product-author-title:after{
                width: calc(68% - 130px);
            }  
        }
        #goToTop-product{
            transform: scale(0.9);
        }
    }
}
@media (min-width: 992px){
    :host{
        .product-info{
            .product-right{
                .info-rated{
                    border-left: none;
                }
            }
        }
        .product-related{
            .product-related-title:after{
                width: calc(69% - 130px);
            }  
        }
        .product-author{
            .product-author-title:after{
                width: calc(75% - 130px);
            }  
        }
    }
}
@media (min-width: 1200px){
    :host{
        .detail-info{
            .detail1{
                padding-left: 150px;
                padding-right: 150px;
            }
        }
        .product-related{
            .product-related-title:after{
                width: calc(73% - 130px);
            }  
        }
        .product-author{
            .product-author-title:after{
                width: calc(78% - 130px);
            }  
        }
    }
}
@media (min-width: 1400px){
    :host{
        .product-info{
            .product-right{
                .info-rated{
                    border-left: 1px solid;
                }
            }
        }
        .product-related{
            .product-related-title:after{
                width: calc(77% - 130px);
            }  
        }
        .product-author{
            .product-author-title:after{
                width: calc(82% - 130px);
            }  
        }
        #goToTop-product{
            transform: scale(1);
        }
    }
}