.banner-top-container{
    .carousel-control-prev, .carousel-control-next{
        background-color: gray;
        width: 40px;
        height: 40px;
        padding: 10px;
        border-radius: 30px;
    }
    .carousel-control-prev{
        margin-left: 13px;
        margin-top: auto;
        margin-bottom: auto;
    }
    .carousel-control-next{
        margin-right: 13px;
        margin-top: auto;
        margin-bottom: auto;
    }
    .carousel-control-next, .carousel-control-prev /*, .carousel-indicators */ {
        filter: invert(80%);
    }
    .carousel-indicators{
        filter: invert(60%);
    }
}

.sale-container{
    .sale-banner{
        height: 200px;
        // width: 48%;
        overflow: hidden;
        position: relative;
        .bg-banner{
            height: 100%;
            width: 100%;
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            transition: all 0.5s;
        }
        .hover-underline{
            position: relative;
            color: white;
            text-decoration: none;
        }
        .hover-underline::before {
            content: "";
            position: absolute;
            display: block;
            width: 110px;
            height: 2px;
            // bottom: 0;
            top: 25px;
            left: 0;
            background-color: white;
            transform: scaleX(0);
            transform-origin: top left;
            transition: transform 0.4s ease;
        }

        // Banner 1
        #icon-sale{
            margin-top: auto;
            margin-bottom: auto;
            width: 100px;
            height: 100px;
        }

        // Banner 2
        .sale-banner-item{
            width: 230px;
            .banner2-btn{
                width: 70%;
            }
        }
    }
    .sale-banner:hover{
        .bg-banner{
            transform: scale(1.1);
        }
        .hover-underline::before{
            transform: scaleX(1);
        }
    }
}

.new-container{
    position: relative;
    .new-item{
        width: 250px;
        height: 500px;
    }
    #new-title{
        position: relative;
    }
    #new-title::before {
        content:"";
        display: block;
        height: 1px;
        width: 20%;
        position: absolute;
        top: 50%;
        left: 2vw;
        background: black;
        opacity: 50%;
    }
    #new-title::after {
        content:"";
        display: block;
        height: 1px;
        width: 20%;
        position: absolute;
        top: 50%;
        right: 2vw;
        background: black;
        opacity: 50%;
    }
}

.combo-container{
    #combo-deal{
        position: relative;
        .deal-card{
            width: 20.01%;
        }
        #timer-daily{
            position: absolute;
            top: 0px;
            right: 12px;
        }
        #timer-weekly{
            position: absolute;
            top: 845px;
            right: 12px;
        }
        #deal-daily-title:after{
            content:"";
            display: block;
            height: 1px;
            width: 525px;
            position: absolute;
            top: 20px;
            right: 240px;
            background: black;
            opacity: 50%;
        }
        #deal-weekly-title:after{
            content:"";
            display: block;
            height: 1px;
            width: 507px;
            position: absolute;
            top: 865px;
            right: 240px;
            background: black;
            opacity: 50%;
        }
    }
    #combo-bestselling{
        background-color: #f0f1f5;
        height: 1600px;
        .list-card{
            height: 95%;
        }
    }
}

.oapw{
    height: 650px;
    #oapw-info{
        width: 28%;
    }
    #oapw-pic{
        width: 44%;
    }
    #oapw-feat{
        width: 28%;
        .oapw-card{
            height: 28%;
        }
    }
}

#evaluate-container{
    position: relative;
    #evaluate-title{
        position: relative;
    }
    #evaluate-title::after {
        content:"";
        display: block;
        height: 1px;
        width: 850px;
        position: absolute;
        top: 20px;
        right: 150px;
        background: black;
        opacity: 50%;
    }
}

.getInfo-container{
    background-image: url('../../assets/images/bg-getinfo.jpg');
    .btnEnter{
        position: absolute;
        right: 320px;
        width: 120px;
        height: 54px;
    }
}

.stat-container{
    .stat-item{
        .stat-item-icon{
            width: 40%;
            padding: 19px 0;
            background-color: #edebfc;
            border-radius: 50px;
        }
        .stat-item-info{
            margin-top: 35px;
        }
    }
    #stat-item-1:hover{
        .stat-item-icon{
            transform: scale(0.8);
        }
        .stat-item-info{
            color: blue;
        }
    }
    #stat-item-2:hover{
        .stat-item-icon{
            transform: scale(0.8);
        }
        .stat-item-info{
            color: cyan;
        }
    }
    #stat-item-3:hover{
        .stat-item-icon{
            transform: scale(0.8);
        }
        .stat-item-info{
            color: red;
        }
    }
    #stat-item-4:hover{
        .stat-item-icon{
            transform: scale(0.8);
        }
        .stat-item-info{
            color: green;
        }
    }
}

#goToTop-home{
    position: fixed; 
    bottom: 10%;
    right: 1%;
    z-index: 2;
    .ng-fa-icon{
        padding: 0 2.2px;
    }
    transform: scale(0.8);
}

//Responsive
@media (min-width: 376px){
    .new-container{
        #new-title::before {
            width: 25%;
        }
        #new-title::after {
            width: 25%;
        }
    }
}
@media (min-width: 476px){
    .new-container{
        #new-title::before {
            width: 28%;
        }
        #new-title::after {
            width: 28%;
        }
    }
}
@media (min-width: 576px){
    .sale-container{
        .sale-banner{
            .sale-banner-item{
                width: 230px;
                .banner2-btn{
                    width: 60%;
                }
            }
        }
    }
    .new-container{
        #new-title::before {
            width: 31%;
        }
        #new-title::after {
            width: 31%;
        }
    }
}
@media (min-width: 768px){
    .sale-container{
        .sale-banner{
            .sale-banner-item{
                width: 250px;
                .banner2-btn{
                    width: 50%;
                }
            }
        }
    }
    .new-container{
        #new-title::before {
            width: 33%;
        }
        #new-title::after {
            width: 33%;
        }
    }
    #goToTop-home{
        transform: scale(0.9);
    }
}
@media (min-width: 992px){
    .new-container{
        #new-title::before {
            width: 35%;
        }
        #new-title::after {
            width: 35%;
        }
    }
}
@media (min-width: 1200px){
    .sale-container{
        .sale-banner{
            height: 240px;
        }
    }
}
@media (min-width: 1200px){
    #goToTop-home{
        transform: scale(1);
    }
}