.banner-top-container{
    .carousel-control-prev, .carousel-control-next{
        background-color: gray;
        width: 40px;
        height: 40px;
        padding: 10px;
        border-radius: 30px;
    }
    .carousel-control-prev{
        margin-left: 13px;
        margin-top: 150px;
    }
    .carousel-control-next{
        margin-right: 13px;
        margin-top: 150px;
    }
    .carousel-control-next, .carousel-control-prev /*, .carousel-indicators */ {
        filter: invert(80%);
    }
    .carousel-indicators{
        filter: invert(60%);
    }
}
.sale-container{
    .sale-banner{
        height: 240px;
        width: 640px;
        overflow: hidden;
        position: relative;
        .bg-banner{
            height: 100%;
            width: 100%;
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            transition: all 0.5s;
        }
        .hover-underline{
            position: relative;
            color: white;
            text-decoration: none;
        }
        .hover-underline::before {
            content: "";
            position: absolute;
            display: block;
            width: 110px;
            height: 2px;
            // bottom: 0;
            top: 25px;
            left: 0;
            background-color: white;
            transform: scaleX(0);
            transform-origin: top left;
            transition: transform 0.4s ease;
        }

        // Banner 1
        #icon-sale{
            margin-top: 70px;
            width: 100px;
            height: 100px;
        }
        #banner1-title{
            margin-left: 220px;
            margin-top: 60px;
            width: 290px;
        }
        #banner1-content{
            margin-left: 220px;
            width: 290px;
        }

        // Banner 2
        .banner2-content{
            margin-left: 350px;
        }
        #banner2-title{
            margin-top: 35px;
        }
    }
    .sale-banner:hover{
        .bg-banner{
            transform: scale(1.1);
        }
        .hover-underline::before{
            transform: scaleX(1);
        }
    }
}
.featured-container{
    width: 93vw;
    margin-left: 3vw;
    position: relative;
    .featured-item{
        width: 250px;
        height: 500px;
    }
    #featured-title{
        position: relative;
    }
    #featured-title::before {
        content:"";
        display: block;
        height: 1px;
        width: 500px;
        position: absolute;
        top: 20px;
        left: 55px;
        background: black;
    }
    #featured-title::after {
        content:"";
        display: block;
        height: 1px;
        width: 500px;
        position: absolute;
        top: 20px;
        right: 55px;
        background: black;
    }
}
.new-container{
    .new-item{
        width: 250px;
        height: 500px;
    }
    #new-title{
        position: relative;
    }
    #new-title::before {
        content:"";
        display: block;
        height: 1px;
        width: 500px;
        position: absolute;
        top: 20px;
        left: 100px;
        background: black;
    }
    #new-title::after {
        content:"";
        display: block;
        height: 1px;
        width: 500px;
        position: absolute;
        top: 20px;
        right: 100px;
        background: black;
    }
}