<!-- Carousel -->
<div class="banner-top-container container-fluid carousel my-4 p-0 slide carousel-fade" id="carouselExampleIndicators">
    <!-- <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div> -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../assets/images/carousel1.jpg" class="d-block w-100" alt="Carouse 1">
        </div>
        <div class="carousel-item">
            <img src="../../assets/images/carousel2.jpg" class="d-block w-100" alt="Carouse 2">
        </div>
        <div class="carousel-item">
            <img src="../../assets/images/carousel3.jpg" class="d-block w-100" alt="Carouse 3">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- Sale -->
<div class="container sale-container d-flex justify-content-between p-0">
    <div class="sale-banner rounded-5 d-flex" id="sale-banner1" (click)="scrollToDailySale('#deal-daily-title')">
        <img src="../../assets/images/final-sale1.jpg" class="bg-banner">
        <img src="../../assets/images/off20pc.png" id="icon-sale" class="ms-3">
        <div>
            <h4 class="fw-bold text-white" id="banner1-title">
                Happy World Book Day!
                <br>
                (23-4)
            </h4>
            <p class="text-white mt-3" id="banner1-content">Great opportunity to give a friend and family a good book.
            </p>
        </div>
    </div>
    <div class="sale-banner rounded-5" id="sale-banner2" (click)="scrollToDailySale('#deal-weekly-title')">
        <img src="../../assets/images/final-sale2.jpg" class="bg-banner">
        <h5 class="text-white banner2-content hover-underline" id="banner2-title">Novel week!</h5>
        <h3 class="text-white mt-3 banner2-content">10% discount on all novels in the store.</h3>
        <button class="btn btn-info mt-3 banner2-content fw-bold rounded-5 px-4 text-white">View now</button>
    </div>
</div>

<!-- New books -->
<div class="new-container container-fluid my-4 p-0">
    <h2 class="text-center mb-3" id="new-title">New books</h2>
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <app-book-card class="new-item"></app-book-card>
        </ng-template>
        <ng-template carouselSlide>
            <app-book-card class="new-item"></app-book-card>
        </ng-template>
        <ng-template carouselSlide>
            <app-book-card class="new-item"></app-book-card>
        </ng-template>
        <ng-template carouselSlide>
            <app-book-card class="new-item"></app-book-card>
        </ng-template>
        <ng-template carouselSlide>
            <app-book-card class="new-item"></app-book-card>
        </ng-template>
        <ng-template carouselSlide>
            <app-book-card class="new-item"></app-book-card>
        </ng-template>
    </owl-carousel-o>
</div>

<!-- Top this week - Daily deals - Weekly deadls -->
<div class="combo-container container">
    <div class="row">
        <div class="col-3 rounded-5 py-4 px-4" id="combo-bestselling">
            <h4>Top 10 this week</h4>
            <hr class="my-4">
            <div class="list-card d-flex flex-column justify-content-between">
                <app-tiny-book-card></app-tiny-book-card>
                <app-tiny-book-card></app-tiny-book-card>
                <app-tiny-book-card></app-tiny-book-card>
                <app-tiny-book-card></app-tiny-book-card>
                <app-tiny-book-card></app-tiny-book-card>
                <app-tiny-book-card></app-tiny-book-card>
                <app-tiny-book-card></app-tiny-book-card>
                <app-tiny-book-card></app-tiny-book-card>
                <app-tiny-book-card></app-tiny-book-card>
                <app-tiny-book-card></app-tiny-book-card>
            </div>
        </div>
        <div class="col-9 ps-5" id="combo-deal">
            <h3 id="deal-daily-title" class="mb-0">Daily Deals</h3>
            <p class="mb-0 bg-warning px-5 py-1 rounded-5 fw-bold fs-5" id="timer-daily">1:23:59:59</p>
            <div class="d-flex flex-wrap justify-content-evenly py-3 border border-danger border-2 rounded-5 mt-3"
                id="deal-daily">
                <div class="deal-card mt-3">
                    <app-book-card></app-book-card>
                </div>
                <div class="deal-card mt-3">
                    <app-book-card></app-book-card>
                </div>
                <div class="deal-card mt-3">
                    <app-book-card></app-book-card>
                </div>
                <div class="deal-card mt-3">
                    <app-book-card></app-book-card>
                </div>
                <div class="deal-card mt-3">
                    <app-book-card></app-book-card>
                </div>
                <div class="deal-card mt-3">
                    <app-book-card></app-book-card>
                </div>
                <div class="deal-card mt-3">
                    <app-book-card></app-book-card>
                </div>
                <div class="deal-card mt-3">
                    <app-book-card></app-book-card>
                </div>
            </div>
            <h3 class="mt-3" id="deal-weekly-title">Weekly Deals</h3>
            <p class="mb-0 bg-warning px-5 py-1 rounded-5 fw-bold fs-5" id="timer-weekly">6:23:59:59</p>
            <div class="d-flex flex-wrap justify-content-evenly py-3 border border-danger border-2 rounded-5 mt-3"
                id="deal-weekly">
                <div class="deal-card mt-3">
                    <app-book-card></app-book-card>
                </div>
                <div class="deal-card mt-3">
                    <app-book-card></app-book-card>
                </div>
                <div class="deal-card mt-3">
                    <app-book-card></app-book-card>
                </div>
                <div class="deal-card mt-3">
                    <app-book-card></app-book-card>
                </div>
                <div class="deal-card mt-3">
                    <app-book-card></app-book-card>
                </div>
                <div class="deal-card mt-3">
                    <app-book-card></app-book-card>
                </div>
                <div class="deal-card mt-3">
                    <app-book-card></app-book-card>
                </div>
                <div class="deal-card mt-3">
                    <app-book-card></app-book-card>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- One author per week -->
<div class="oapw container my-4 d-flex">
    <div class="h-100 text-end" id="oapw-info">
        <h5 class="text-danger">ONE AUTHOR PER WEEK</h5>
        <h1 class="mt-3">Jessica Munoz</h1>
        <p class="opacity-75 mt-3">Janice Hallett is a British author,<br>
            screenwriter and an award-winning journalist,<br>
            best known for her
            phenomenally successful<br>
            debut thriller The Appeal.</p>
        <p class="opacity-75">Before her breakout entry into<br>
            the realms of crime fiction,<br>
            Janice Hallett worked as a journalist,<br>
            magazine editor and speech writer for<br>
            the Cabinet Office and Home Office,<br>
            as well as writing for the stage and screen.<br>
            Her first feature film Retreat<br>
            (co-written and directed by Carl Tibbetts)<br>
            came out in 2011,<br>
            and she won the award for Best New Screenplay<br>
            at the 2014 British Independent Film Festival.</p>
        <button class="btn btn-info py-2 px-4 rounded-5 fw-bold text-white mt-3" type=" button">View Author</button>
    </div>
    <div class="h-100" id="oapw-pic">
        <img src="../../assets/images/author1.jpg" class="h-100 d-block mx-auto">
    </div>
    <div class="h-100 d-flex flex-column justify-content-between p-0" id="oapw-feat">
        <div class="oapw-card row m-0">
            <app-mini-book-card class="p-0 h-100 w-100"></app-mini-book-card>
        </div>
        <hr class="m-0">
        <div class="oapw-card row m-0">
            <app-mini-book-card class="p-0 h-100 w-100"></app-mini-book-card>
        </div>
        <hr class="m-0">
        <div class="oapw-card row m-0">
            <app-mini-book-card class="p-0 h-100 w-100"></app-mini-book-card>
        </div>
    </div>
</div>

<!-- What client says -->
<div class="container p-0" id="evaluate-container">
    <h2 class="my-3" id="evaluate-title">What client says</h2>
    <owl-carousel-o [options]="evaluateOptions">
        <ng-template carouselSlide>
            <app-evaluate-card class="evaluate-item"></app-evaluate-card>
        </ng-template>
        <ng-template carouselSlide>
            <app-evaluate-card class="evaluate-item"></app-evaluate-card>
        </ng-template>
        <ng-template carouselSlide>
            <app-evaluate-card class="evaluate-item"></app-evaluate-card>
        </ng-template>
        <ng-template carouselSlide>
            <app-evaluate-card class="evaluate-item"></app-evaluate-card>
        </ng-template>
        <ng-template carouselSlide>
            <app-evaluate-card class="evaluate-item"></app-evaluate-card>
        </ng-template>
        <ng-template carouselSlide>
            <app-evaluate-card class="evaluate-item"></app-evaluate-card>
        </ng-template>
    </owl-carousel-o>
</div>

<!-- Get info from shop -->
<div class="getInfo-container container text-center my-4 bg-info rounded-5">
    <h4 class="pt-5 text-white">Get 10% Off Your Order!</h4>
    <p class="my-3 text-white">Enter your email and receive a 10% discount on your next order!</p>
    <div class="position-relative pb-5">
        <input class="w-50 h-75 border-0 txtSearch rounded-5 p-3" placeholder="Your email address">
        <button class="btn btn-info btnEnter rounded-5 fw-bold text-white">
            Subscribe
        </button>
    </div>
</div>

<!-- Statistics -->
<div class="container-fluid stat-container mb-4">
    <div class="row d-flex justify-content-evenly">
        <div class="stat-item col-2 d-flex rounded-5 border" id="stat-item-1">
            <div class="stat-item-icon text-primary my-4 ms-3 text-center">
                <fa-icon class="fa-2x" [icon]="faBook"></fa-icon>
            </div>
            <div class="stat-item-info ms-3">
                <h4>15,254</h4>
                <p class="mt-3 opacity-75">Total books</p>
            </div>
        </div>
        <div class="stat-item col-2 d-flex rounded-5 border" id="stat-item-2">
            <div class="stat-item-icon text-info my-4 ms-3 text-center">
                <fa-icon class="fa-2x" [icon]="faUsers"></fa-icon>
            </div>
            <div class="stat-item-info ms-3">
                <h4>1,287</h4>
                <p class="mt-3 opacity-75">Authors</p>
            </div>
        </div>
        <div class="stat-item col-2 d-flex rounded-5 border" id="stat-item-3">
            <div class="stat-item-icon text-danger my-4 ms-3 text-center">
                <fa-icon class="fa-2x" [icon]="faCartShopping"></fa-icon>
            </div>
            <div class="stat-item-info ms-3">
                <h4>7,589</h4>
                <p class="mt-3 opacity-75">Books sold</p>
            </div>
        </div>
        <div class="stat-item col-2 d-flex rounded-5 border" id="stat-item-4">
            <div class="stat-item-icon text-success my-4 ms-3 text-center">
                <fa-icon class="fa-2x" [icon]="faFaceSmile"></fa-icon>
            </div>
            <div class="stat-item-info ms-3">
                <h4>97%</h4>
                <p class="mt-3 opacity-75">Satisfaction</p>
            </div>
        </div>
    </div>
</div>