<div class="container-fluid my-4 bg-info">
    <div class="container py-5">
        <span class="fs-1 fw-medium">Checkout</span>
    </div>
</div>
<div class="container mb-4">
    <div class="row">
        <div class="col-6">
            <form [formGroup]="infoForm" class="border rounded-3 p-4">
                <h4 class="mb-3">Receiver's information</h4>
                <label for="txtName" class="form-label">Name</label>
                <input type="text" class="form-control" id="txtName" placeholder="John Weak" formControlName="name">
                <label for="txtEmail" class="form-label mt-2">Email address</label>
                <input type="email" class="form-control" id="txtEmail" placeholder="john@email.com"
                    formControlName="email">
                <label for="txtPhone" class="form-label mt-2">Phone</label>
                <input type="number" class="form-control" id="txtPhone" placeholder="0123456789"
                    formControlName="phone">
                <label for="txtAddress" class="form-label mt-2">Address</label>
                <input type="text" class="form-control" id="txtAddress" placeholder="221B - Baker street - London"
                    formControlName="address">
            </form>
        </div>
        <div class="col-6">
            <form class="border rounded-3 py-2 px-3">
                <h4>Payment's method</h4>
                <div class="form-check mt-3">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                    <label class="form-check-label" for="flexRadioDefault1">
                        Cash
                    </label>
                </div>
                <div class="form-check mt-3">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                    <label class="form-check-label" for="flexRadioDefault2">
                        Paypal
                    </label>
                </div>
                <div class="form-check mt-3">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                    <label class="form-check-label" for="flexRadioDefault3">
                        Visa
                    </label>
                </div>
                <div class="form-check mt-3">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4">
                    <label class="form-check-label" for="flexRadioDefault4">
                        MasterCard
                    </label>
                </div>
                <div class="form-check mt-3">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault5">
                    <label class="form-check-label" for="flexRadioDefault5">
                        ApplePay
                    </label>
                </div>
            </form>
            <form class="border rounded-3 py-2 px-3" style="margin-top: 1.3rem;">
                <h4>Payment's method</h4>
                <div class="form-check mt-3">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                    <label class="form-check-label" for="flexRadioDefault1">
                        Fast
                    </label>
                </div>
                <div class="form-check mt-3">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                    <label class="form-check-label" for="flexRadioDefault2">
                        Express
                    </label>
                </div>
            </form>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-8">
            <div class="border rounded-3">
                <table class="w-100 text-center border border-black">
                    <tr class="border-bottom border-black bg-info">
                        <th style="width: 10%;">No.</th>
                        <th style="width: 50%;">Product</th>
                        <th style="width: 20%;">Quantity</th>
                        <th style="width: 20%;">Total</th>
                    </tr>
                    <tr class="border-bottom border-black" *ngFor="let book of cartList; let i = index">
                        <td>{{i+1}}</td>
                        <td class="d-flex px-5">
                            <img src={{book.image}} style="width: 100px;">
                            <div class="ms-4 d-flex flex-column justify-content-center">
                                <p class="text-start fw-bold mb-0 py-2">{{book.name}}</p>
                                <p class="text-start mb-0 py-2">Paperback</p>
                                <p class="text-start fw-bold text-danger mb-0 py-2">$ {{book.price}}</p>
                            </div>
                        </td>
                        <td>
                            <p class="text-center fw-bold mb-0 py-2">{{cartListQtt[i]}}</p>
                        </td>
                        <td class="fw-bold text-danger fs-5">$ {{cartListPrice[i]}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-4">
            <div class="border rounded-3 p-3">
                <div class="d-flex justify-content-between w-100">
                    <h5>Total Amount:</h5>
                    <h5 class="text-danger fw-bold">$ {{this.totalAmount[0]}}</h5>
                </div>
                <button class="btn btn-danger w-50 mt-3 fw-bold mx-auto d-block" type="button">Payment</button>
            </div>
        </div>
    </div>
</div>