:host{
    table{
        th, tr, td{
            padding: 15px 0;
        }
        tr:hover{
            background-color: cyan;
        }
    }
    .vldInput{
        background-color: #fed3d3;
    }
}